In [2]:


print("Hello world, Python training in jaipur");

Hello world, Python training in jaipur

In [3]:
A=20

B="Goeduhub"

print(A,B) # print () to show the result

#Assigning single value to multiple variables

x=y=z=50

print (x)

print (y)

print (z)

#Assigning multiple values to multiple variables

a,b,c=1,2,3

20 Goeduhub
50
50
50

In [4]:
20+30

50